<p>approach-two works!</p>
<!-- <form > -->

  <!-- <label>
    Name:
    <input type="text" [(ngModel)]="userGroups.name">
  </label>
  <br>
  <label>
    Description:
    <input type="text" [(ngModel)]="userGroups.description">
  </label> -->
<br>
<label for="users">Users:</label>
<select id="users" multiple [(ngModel)]="selectedUsers">
  <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
</select>

<table>
  <thead>
    <tr>
      <th>Field</th>
      <th>Access</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let field of fields">
      <td>{{ field }}</td>
      <td>
        <select [(ngModel)]="accessLevels[field]">
          <option value="none">No Access</option>
          <option value="view">View</option>
          <option value="edit">Edit</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>

<button (click)="submit()">Submit</button>
<!-- </form> -->
