.has-search .form-control {
  padding-left: 2.375rem;
  border-radius: 15px;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 3.375rem;
  height: 3.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.nav-tabs .nav-link.active{
  color: blue;
 }
